<!DOCTYPE html>
<html>
  <head>
    <title>ScholarWorksStatistics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%= render '/head_nav' %>
            <%= render '/left_nav' %>
          </nav>
          <%= yield %>
     </div>
  </body>
</html>
